/* Google font imports */
  @import url('https://fonts.googleapis.com/css2?family=Athiti&family=Hind+Madurai:wght@700&family=Petrona:wght@500&display=swap');

  /* Astrisk override to override all default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic project styles*/
    color:darkslategray; 
    font-family: 'Athiti',  sans-serif; 
}

h1, h2, h3 {
    font-family: 'Hind Madurai', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#c00000;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px hsl(0, 0%, 83%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

header a {
    text-decoration: none;
    color: inherit;
}

/* Nav */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
    text-transform: uppercase;
}

.active {
    border-bottom: 1px solid darkslategrey
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px darkslategrey;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero Section */
#hero1 {
    height: 300px;
    width: 100%;
    position: relative;
    background: url("../images/home/outerspace.jpg") no-repeat center center / cover;
    z-index: 1;
}

#hero2 {
    height: 300px;
    width: auto;
    position: absolute;
    top: 0;
    left: calc(50vw - 150px);
    z-index: 2;
}

/* Reason To Care Page Section */

.hero-content-container {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    background-color: #d3d3d3;
    color: #ffffff;
}

.hero-content li {
    list-style-type: none;
    color: #ffffff;
}

/* Page section container*/

#square-container {
    padding: 20px;
    display: flex;
}

/* Page section Index*/

#square-image1 { 
    margin: 10px;
    border: 1px solid #d3d3d3;
}

#square-text1 {
    font-size: 20px;
    margin-left: 10px;
    column-width: 66%;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: center;
}

#square-text1-list {
    list-style-type: none;
}

.button-label {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #c00000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Hind Madurai', sans-serif;
}

/* Page section FAQs*/

#square-image2 { 
    margin: 10px;
    border: 1px solid #d3d3d3;
    max-width: 100%;
}

#square-text2 {
    text-align: justify;
    font-size: 20px;
}

/* Footer */

footer {
    background-color: #203046;
    color: #ffffff;
    font-size: 120%;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 2px;
}

#social-logos {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-logos i {
    font-size: 200%;
    padding: 5%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    }
#menu{
    display: flex;
    }
#menu > li {
    padding-left: 1rem; 
    }
.nav-toggle-label {
        display: none
    }
}

/* Sizing of logo */
#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/* Main Content*/
main {
    /*Puh main content down to accomodate larger header */
    margin-top: 79px
}

/* Large devices (large desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid darkslategrey;
    }
}