/* Google font imports */
  @import url('https://fonts.googleapis.com/css2?family=Athiti&family=Hind+Madurai:wght@700&family=Petrona:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* generic project styles*/
    color:darkslategray; 
    font-family: 'Athiti',  sans-serif; 
}
/* Header */
header {
    font-family: 'Hind Madurai', sans-serif;
    background-color: #fff9e3;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px darkslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header a {
    text-decoration: none;
}

h1 {
    font-family: 'Hind Madurai', sans-serif;
    text-transform: uppercase;
    color:#c00000;
}

/* Nav */
#menu {
    font-size: 125%;
    letter-spacing: 2px;
    color:darkslategrey;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid darkslategrey
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #fff9e3;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px darkslategrey;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 5rem;
}

/* Sizing of logo */
#logo {
    font-size: 450%;
    line-height: 150px;
    margin: 0 0.5rem;
}

/* Main */
main {
    background-color: #203046;
    flex: 10 auto;
    margin-top: 150px;
}

/* Section */
section {
  background-color: #fff9e3;
  margin: 0;
  flex: 10 auto;
}

/* Footer */
footer {
    background-color: #203046;
}

h2 {
  color: #c00000;
  font-family: 'Petrona', serif;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 3rem;
    }
#menu{
    display: flex;
    }
#menu > li {
    padding-left: 5rem; 
    }
.nav-toggle-label {
        display: none
    }
}